@font-face {
    font-family: 'IntegralCF-Bold';
    src: url('./fonts/IntegralCF-Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'inter-light';
    src: url('./fonts/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-extralight';
    src: url('./fonts/Inter_18pt-ExtraLight.ttf') format('truetype'); 
}

@font-face {
  font-family: 'inter-extrabold';
  src: url('./fonts/Inter_18pt-ExtraBold.ttf') format('truetype'); 
}




::selection {
    background: #ffffff;
    color: #101010;
}

.footer{
    font-family: 'inter-extralight', sans-serif;
  }

.footer h2, h3{
  font-family: 'InstrumentSerif-Regular', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  color: #E0E9FF;
  font-size: 200px;
}

.footer h2{
  margin-left: 7px;
}


  .footer-title{
    color: #ffffff54;
    width: max-content;
    margin-bottom: 8px;
  }

  .footer-flex{
    margin: 0px 80px 0px 80px;
    margin-top: 80px;
    flex-wrap: wrap;
    width: 70%;
    display: flex;
    gap: 40px;
  }

  .footer-lastline{
    margin: 0px 80px 0px 80px;
    margin-top: 40px;
  }

  .footer-lastline a{
    color: white;
  
  }


  .footer-firstLine{
    display: flex;
    justify-content: space-between;
    
  }

  .footer-firstLine h3, h2{
    position: relative;
    color: #ffffff;
    color: transparent;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    background-clip: text;
  }

  .footer-firstLine h2, h3{
    opacity: 0.5;
  }



  footer p{
    color: rgba(255, 255, 255, 0.615); 
}


